# Database Configuration
DATABASE_URL=mysql+pymysql://root:@localhost:3306
DATABASE_API=project_api_quangdev
DATABASE_PROJECT=project_quangdev

# API Configuration
API_KEY_HEADER_NAME=x-api-key
LOG_LEVEL=INFO
API_KEYS=dev-api-key

# Server Configuration
API_PUBLIC=5000
API_ADMIN=8080

# Admin Configuration
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

# Security Configuration
ADMIN_SECRET_KEY=
FLASK_SESSION_SECRET=
JWT_SIGNING_SECRET=

# Logging Configuration
LOG_FILE_PATH=api_gateway.log
